
#ddd {
  animation:glow 5s ease-in-out infinite;
}
body {
  background:#0a0a0a;
  overflow:hidden;
  text-align:center;
}
figure {
	margin-top:200px;
	margin-left:300px;
  animation:wobble 5s ease-in-out infinite;
  transform-origin:center center;
  transform-style:preserve-3d;
}
@keyframes wobble {
  0%,100%{ transform:rotate3d(1,1,0,20deg); }
  25%{ transform:rotate3d(-1,1,0,20deg); }
  50%{ transform:rotate3d(-1,-1,0,20deg); }
  75%{ transform:rotate3d(1,-1,0,20deg); }
}
#ddd {
  display:block;
  border:0px;
  background-color:purple;
  font:800 3em 'Concert One', sans-serif;
  text-transform:uppercase;
  position:absolute;
  /*color:#0a0a0a;*/
   color:#0000FF;
}
@keyframes glow {
  0%,100%{ text-shadow:0 0 30px red; }
  25%{ text-shadow:0 0 30px orange; }
  50%{ text-shadow:0 0 30px forestgreen; }
  75%{ text-shadow:0 0 30px cyan; }
}
#ddd:nth-child(2){ transform:translateZ(5px); }
#ddd:nth-child(3){ transform:translateZ(10px);}
#ddd:nth-child(4){ transform:translateZ(15px); }
#ddd:nth-child(5){ transform:translateZ(20px); }
#ddd:nth-child(6){ transform:translateZ(25px); }
#ddd:nth-child(7){ transform:translateZ(30px); }
#ddd:nth-child(8){ transform:translateZ(35px); }
#ddd:nth-child(9){ transform:translateZ(40px); }
#ddd:nth-child(10){ transform:translateZ(45px); }